.athletes {
    p {
        font-size: typo(16px, 18px);
        width: 55vw;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .galerie__athletes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
}
