/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #001514;
    --a-color-primary: #4e6aff;
    --a-color-black: #444444;
    --a-color-secondary: #ffe1ea;

    // Couleurs du projet
    // --color-primary: #f2545b;

    // --color-bg-primary: var(--color-white);
    // --color-bg-secondary: #3e92cc;
}
